#name {
    font-family: monospace;
    font-size: 50px;
    text-emphasis: underline;
    color: orange;
}

.about { 
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}

h1{
    color: palegoldenrod;
}

li:over  {
    color: rebeccapurple;

} 

h4.about{
    color: orangered;
}